<!DOCTYPE html>
<html>
  <body>
    <div
      style="
        border: 5px solid cornflowerblue;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      "
    >
      <div *ngIf="title">caption: {{ title }}</div>
      <img [src]="imgSrc" style="width: 200px" />
      <div>Hello, Angular!</div>

      <div>
        <button
          [disabled]="!title"
          (click)="handleClickButton()"
          class="btn btn-warning"
          style="margin: 20px"
        >
          Next Caption
        </button>
        <button
          [disabled]="title"
          (click)="handleReset()"
          class="btn btn-primary"
          style="margin: 20px"
        >
          Reset
        </button>
      </div>

      <div
        style="
          justify-content: space-around;
          flex-direction: row;
          display: flex;
        "
      >
        <ul style="font-size: 12px; list-style: none">
          <li *ngFor="let captionItem of captionList">
            <img [src]="captionItem.icon" style="width: 15px" />
            {{ captionItem.message }}
          </li>
        </ul>
        &nbsp;
        <ul style="font-size: 12px; list-style: none">
          <li *ngFor="let usedCaptionItem of usedCaptionList">
            <img [src]="usedCaptionItem.icon" style="width: 15px" />
            {{ usedCaptionItem.message }}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
