<!DOCTYPE html>
<html>
  <body>
    <div
      style="
        border: 5px solid plum;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      "
    >
      <div *ngIf="title">caption: {{ title }}</div>
      <img [src]="imgSrc" style="width: 200px" />
      <div>Hello, Angular!</div>

      <button
        [disabled]="!title"
        (click)="handleClickButton()"
        class="btn btn-warning"
        style="margin: 20px"
      >
        Next Caption
      </button>
      <div
        style="
          justify-content: space-around;
          flex-direction: row;
          display: flex;
        "
      >
        <ul style="font-size: 12px">
          <li *ngFor="let captionItem of captionList">
            {{ captionItem.message }}
          </li>
        </ul>
        &nbsp;
        <ul style="font-size: 12px">
          <li *ngFor="let usedCaptionItem of usedCaptionList">
            {{ usedCaptionItem.message }}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
